<header class="dashboard container-fluid py-3">
  <div class="dashboard-header">
    <h1>Dashboard</h1>
    <div>
      <small class="text-uppercase px-3"><%= name%></small>
      <img
        onclick="myfunnn()"
        width="60px"
        src="https://www.mofea.gm/assets/images/no-profile.png"
        alt="profile-icon"
      />
    </div>

    <div class="profile-dropdown" id="dropdown-menu">
      <ul>
        <li>My Profile</li>
        <li>Change Password</li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</header>
